<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

	<div class="w3-container w3-half w3-display-topmiddle w3-margin-top">
		<h2 style="display:block;text-align:center;margin-top:20px;margin-bottom:40px;">UNBK</h2>

	<div class="w3-container w3-blue">
		<h2 style="text-align:center; display:block;">Login</h2>
	</div>
	<form [formGroup]="loginForm" class="w3-container w3-border">
	   <div class="form-group">
		<p>
		<label style="margin-top:10px;">Username</label>
			<input [(ngModel)]="newTodo" name="newTodo" placeholder="Username" formControlName="email" class="form-control w3-input" type="email">
		</p>
		</div>
		<div class="form-group">
		<p>
		<label>Password</label>
			<input type="password" formControlName="password" placeholder="Password" class="w3-input form-control">
		</p>
		</div>
		<p >
			<button type="submit" (click)="tryLogin(loginForm.value)" class="w3-btn w3-blue w3-large" style="margin:auto; display:block;">
				Login
			</button>
    </p>
      <label class="error">{{errorMessage}}</label>

	</form>
	</div>

    </div>
  </div>

</div>
